VITE_ALPHA_VANTAGE_KEY=your_api_key_here
VITE_FIREBASE_API_KEY=AIzaSyD2kjHmVm8flf905re2aicOdcpu4JJgTV8
VITE_FIREBASE_AUTH_DOMAIN=trading-app-8f6d8.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=trading-app-8f6d8
VITE_FIREBASE_STORAGE_BUCKET=trading-app-8f6d8.firebasestorage.app
VITE_FIREBASE_MESSAGING_SENDER_ID=1071132413775
VITE_FIREBASE_APP_ID=1:1071132413775:web:d7c624f85773264f1fff3a